{% extends 'core/base.html' %} 

{% load static %} 

{% block contenido %}

<!-- HEADER -->
<header class="main-header">
    <div class="background-overlay text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center justify-content-center align-self-center">
                    <h1>¡Mobike te acerca a tu lugar de destino!</h1>
                    <p>Miles de bicicletas disponibles a tu alrededor. ¡Finaliza el recorrido en cualquier estacionamiento para bicicletas que esté cerca de tu lugar de destino!</p>
                    <a href="{% url 'registro_usuario'%}" class="btn btn-outline-info btn-lg text-white">
                                    Registrate
                                </a>
                </div>
                <div class="col-md-6">
                    <img src="{% static 'core/img/app.png' %}" alt="Imagen de App" class="img-fluid d-none d-sm-block">
                </div>
            </div>
        </div>
    </div>
</header>

<!-- QUIENES SOMOS -->
<section class="bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="m-5">
                <h3>¿Qué es Mobike?</h3><br>
                <p>
                    Imagina que puedes buscar y dejar una bicicleta en el momento y el lugar que sean más convenientes para ti. Forma parte del mundo Mobike: un servicio de uso compartido de bicicletas que te permite realizar recorridos cortos por la ciudad, en cualquier
                    momento, a cualquier destino que tenga un estacionamiento legal, y que combina la innovación y la tecnología actual de Internet de las cosas (IoT). Mobike es una opción ecológica, ayuda a descongestionar el tránsito y busca continuamente
                    mejorar la calidad de vida en la ciudad.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- USO SERVICIO -->
<section class="container text-center p-5">
    <h3>Preguntas Frecuentes</h3><br>
    <div class="row">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    ¿Qué es el uso compartido de bicicletas?
                                </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        Mobike es la primera plataforma de uso compartido de bicicletas con áreas designadas de estacionamiento mediante el pago con tarjetas que permite resolver el problema de las conexiones de corta distancia en la ciudad. Las bicicletas Mobike tienen un diseño
                        único patentado con un sistema de cierre inteligente y se conectan con la aplicación del teléfono móvil para brindar mayor accesibilidad y comodidad cuando más lo necesites. Al desarrollar Mobike, nuestra principal expectativa
                        es poder reducir la congestión del tránsito y crear un entorno más ecológico para vivir en la ciudad.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    ¿Cómo puedo empezar a usar el servicio?
                                </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        Debes registrarte a traves de la aplicación movil o el sitio web de Mobike con tus datos personales e introducir una tarjeta de credito valida o una tarjeta prepago Mobike. Luego de que los Administradores hayan validado tu registro ya estas listo para
                        poder usar nuestros servicios.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    ¿Dónde debo estacionar después de finalizar el recorrido?
                                </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        Se recomienda a los usuarios de Mobike que estacionen en las Ubicaciones Preferidas de Mobike (MPL). Las bicicletas Mobike no pueden estacionarse en estacionamientos privados para bicicletas, recintos, el interior de un edificio o estacionamientos subterráneos.
                        Nos esforzamos para garantizar que todos los usuarios de Mobike puedan encontrar una bicicleta disponible en sus alrededores en todo momento, todos los días. Constantemente implementamos mejoras en la aplicación y en las bicicletas
                        en sí para que puedas tener una experiencia agradable y sin inconvenientes durante tu recorrido con Mobike. Para que todos los usuarios de Mobike disfruten de un buen paseo en bicicleta, necesitamos que colabores y estaciones en
                        los lugares visibles.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}