{% extends 'core/base.html' %} 

{% load static %} 

{% block contenido %}

<!-- HEADER -->
<header class="main-header">
    <div class="background-overlay text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center justify-content-center align-self-center">
                    <h1>¡Mobike te acerca a tu lugar de destino!</h1>
                    <p>Miles de bicicletas disponibles a tu alrededor. ¡Finaliza el recorrido en cualquier estacionamiento para bicicletas que esté cerca de tu lugar de destino!</p>
                    <a href="#" class="btn btn-outline-info btn-lg text-white">
                        Registrate
                    </a>
                </div>
                <div class="col-md-6">
                    <img src="{% static 'core/img/app.png' %}" alt="Imagen de App" class="img-fluid d-none d-sm-block">
                </div>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container p-5">
        <div class="card">
            <div class="card-header bg-dark text-white">
                Puntos Mobike La Reina
            </div>
            <div class="card-body">
                <h5 class="card-title">CONOCE LOS 36 PUNTOS MOBIKE DE LA REINA:</h5><br>
                <p>Los invitamos a ser parte de este notable avance en movilidad y medio ambiente, dos temas fundamentales para los vecinos de La Reina, y que se traducirá en menos vehículos y congestión, ganando en vida saludable y Alma de Barrio.</p>
                <p>Encuentra el punto Mobike mas cercano a tu ubicaci&oacute;n</p>

                <div id="mapa" style="display: block; margin-left: auto; margin-right: auto;, width: 700px; height: 500px;">
		
			        --Mapa puntos Mobike La Reina--		
		        </div>               
            </div>
        </div>        
    </div>
</section>
    <script type="text/javascript"  src="http://maps.googleapis.com/maps/api/js?v3 ">  </script>
    <script type="text/javascript"src= "{% static 'core/script/script_mapa.js' %}"> </script>

{% endblock %}



    
